.step-one-box-2 {
  top: 17.6%;
  left: 5%;
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--clr-white);
  width: 100%;
  max-width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.step-two-selection-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price-option-title {
  text-align: start;
}

.price-option-boxes {
  border: 1px solid var(--clr-cool-gray);
  font-size: var(--size-xs);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: start;
}

.yearly-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.price-option-boxes.selected {
  border-color: var(--clr-purplish-blue);
}

.step-one-title {
  color: var(--clr-marine-blue);
}
.step-one-paragraph {
  color: var(--clr-cool-gray);
  font-size: var(--size-xs);
}

/* .yearly-box {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
} */

.price-option-yearly {
  font-size: var(--size-xs);
  color: var(--clr-cool-gray);
}

.price-yearly-text {
  font-size: var(--size-xs);
  color: var(--clr-marine-blue);
  font-weight: 100;
}

.step-one-content-text {
  color: var(--clr-marine-blue);
}
.price-img {
  width: 30px;
  height: 30px;
}

.button-cirlce {
  width: 12px;
  height: 12px;
  background-color: var(--clr-white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: left 0.3s;
}
.toggle-button {
  width: 40px;
  height: 20px;
  background-color: var(--clr-marine-blue);
  border-radius: 20px;
  position: relative;
}

.monthly-yearly-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.step-two-box {
  display: none;
}
.step-two-box-mobile {
  margin-top: 40px;
  top: 10%;
  left: 0%;
  width: 100%;
  height: 60px;
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.step-one-next-button-mobile {
  background-color: var(--clr-marine-blue);
  color: var(--clr-white);
  border-radius: 5px;
  padding: 5px;
  font-size: var(--size-xs);
  width: 100px;
  height: 40px;
}

/* xs */
@media (min-width: 475px) {
  .step-one-box-2 {
    top: 19.3%;
    left: 5%;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .step-one-box-2 {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 30px;

    position: static;
  }
  .step-two-selection-box {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  .price-option-boxes {
    border: 1px solid var(--clr-cool-gray);
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 20px;
  }

  .price-option-boxes.selected {
    border-color: var(--clr-purplish-blue);
  }
  .price-option-button {
    border: 1px solid var(--clr-cool-gray);
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    margin-top: 20px;
  }

  .price-option-title {
    font-size: var(--size-sm);
    color: var(--clr-marine-blue);
  }
  .price-option-sub {
    font-size: var(--size-xs);
    color: var(--clr-cool-gray);
  }
  .button-cirlce {
    width: 12px;
    height: 12px;
    background-color: var(--clr-white);
    border-radius: 100%;
    margin-left: 5px;
  }
  .toggle-button {
    width: 40px;
    height: 20px;
    background-color: var(--clr-marine-blue);
    border-radius: 20px;
  }

  .toggle-button.toggled .button-cirlce {
    margin-left: 22px;
  }

  .monthly-yearly-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: bold;
  }
  .step-two-back-button {
    position: absolute;
    top: 77.5%;
    z-index: 1;
  }
  .step-two-box-mobile {
    display: none;
  }
  .step-two-box {
    display: block;
  }
}

/* xL */
/* @media (min-width: 1280px) {}  */

/* 2xL */
/* @media (min-width: 1536px) {} */
